.App {
  text-align: center;
}
body {
  background-color: cyan; /* Set entire background to cyan */
  margin: 0; /* Remove default margin */
  font-family: "Times New Roman", Times, serif;
}

.App {
  padding: 40px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box input,
.box button {
  padding: 20px;
  font-size: 32px;
  border: 2px solid black; /* Black border for input and button */
  font-family: "Times New Roman", Times, serif; /* Times New Roman font */
  color: black; /* Black text color */
}

.box button {
  background-color: lightgreen;
  cursor: pointer;
  color: white;
}

.message-box {
  margin-top: 40px;
}

.error {
  color: red;
  align-items: center;
}

.data-box {
  margin-top: 20px;
}

.App h1 {
  font-size: 56px;
}

.App p {
  font-size: 28px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
